.main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #2e026d, #15162c);
  padding: 1rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 4rem;
  font-weight: 800;
  color: white;
  margin: 0 0 0.5rem 0;
  text-align: center;
}
